.container {
  background-color: $secondary-color;
  border: 1px solid $tertiary-color;
  margin-top: 20px;
  width: 226px;
  height: 294px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &__image {
    width: 224px;
    height: 120px;
  }
  &__info {
    min-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__title,
  &__paragraph,
  &__button {
    margin: 4px 8px;
  }
  &__paragraph {
    font-weight: 600;
    font-size: 1.1rem;
  }
  &__button {
    @include button;
    width: 60px;
  }
}
@media only screen and (min-width: 920px) {
  .container {
    border: 2px solid $tertiary-color;
    width: 280px;
    height: 370px;
    &__image {
      width: 276px;
      height: 150px;
    }
    &__info {
      min-height: 213px;
    }
    &__title {
      font-size: 1.7rem;
      letter-spacing: 0.2px;
      margin: 10px 0 5px 10px;
    }
    &__paragraph {
      font-size: 1.3rem;
      line-height: 1.5rem;
      letter-spacing: 0.2px;
      margin: 5px 10px;
    }
    &__button {
      width: 70px;
      margin: 5px 10px;
      font-size: 1.3rem;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .container {
    border: 2px solid $tertiary-color;
    width: 400px;
    min-height: 440px;
    &__image {
      width: 396px;
      height: 220px;
    }
    &__title {
      font-size: 1.8rem;
      letter-spacing: 0.3px;
      margin: 10px 0 6px 15px;
    }
    &__paragraph {
      font-size: 1.4rem;
      line-height: 1.6rem;
      letter-spacing: 0.3px;
      margin: 5px 15px;
    }
    &__button {
      width: 80px;
      margin: 5px 0 10px 15px;
      font-size: 1.4rem;
    }
  }
}
