.header {
  font-family: $regular-font, Arial, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: none;
  &__logo {
    position: relative;
    width: 150px;
    left: 15px;
    bottom: 18px;
  }
  &__ul {
    width: 100%;
    position: absolute;
    top: 70px;
  }
  &__items {
    display: inline-block;
    padding: 10px;
    a {
      color: $white-color;
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-decoration: none;
      letter-spacing: 0.8px;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: $white-color;
        transition: width 0.3s;
      }
      &:hover::after {
        width: 100%;
        transition: width 0.3s;
      }
    }
  }
}
@media only screen and (min-width: 650px) {
  .header {
    font-family: $expanded-font, Arial, Verdana, sans-serif;
    text-align: unset;
    &__logo {
      width: 200px;
      height: 100px;
      padding-left: 5px;
    }
    &__ul {
      top: 20px;
      width: auto;
      height: auto;
      margin-left: 38%;
    }
    &__items {
      & a {
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }
  }
}
